@import '../variables/variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--basci-font);
}

@font-face {
	src: url('../fonts/worksans.woff2') format('woff2'),
		url('../fonts/worksans.woff') format('woff');
	font-family: worksans;
	font-display: swap;
}

.container {
	margin: 0 auto;
	max-width: $desctope-width;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}
