/* BASE */

.nav-list {
	list-style: none;
}

.nav-list__item {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr min-content;

	&:hover {
		.nav-list__item-img {
			box-shadow: 25px 25px 49px #A4A4A4,
				-25px -25px 49px #FFFFFF;
			background: transparent;
		}
	}
}

.nav-list__item-picture {
	border-radius: 10px;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.nav-list__item-img {
	border-radius: 10px;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.nav-list__item-logo {
	width: 150px;
	height: 100px;
	object-fit: contain
}

.nav-list__item-link {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
