/* DESCTOPE */

@import '../../variables/variables.scss';

@media (min-width: calc($tablet-width + 1px)) {
	.nav-list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}
}
