/* DESCTOPE */

@import '../../variables/variables';

@media (width > $tablet-width) {
	.nav-list {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(3, var(--nav-list-item-width));
		grid-template-rows: 1fr;
		gap: 20px;
	}
}
