/* TABLET */

@import '../../variables/variables';

@media (width > $mobile-width) and (width <=$tablet-width) {
	.nav-list {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(3, 150px);
		grid-template-rows: 1fr;
		gap: 40px;
	}
}
