/* TABLET */

@import '../../variables/variables';

@media (width > $mobile-width) and (width <=$tablet-width) {
	.nav-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}
}
