/* BASE */

.footer {
	padding: var(--standart-top-padding) var(--standart-side-padding);
	width: 100%;
	height: max-content;
	box-shadow: 0 -2px 5px rgb(156 156 156 / 20%);
	background-color: transparent;
}

.footer__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__text {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	letter-spacing: 0.8px;
	text-decoration: none;
	color: var(--text-secondary);
}

.footer__link {
	&:hover {
		color: var(--text-primary);
	}
}
