/* DESCTOPE */

@import '../../variables/variables';

@media (width >= calc($tablet-width + 1px)) {
	.footer__adress {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.footer__text {
		&:not(:last-child)::after {
			content: '|';
			position: absolute;
			right: -10px;
			top: 0;
			width: 2px;
			height: 100%;
			transform: translateX(1px);
		}
	}
}
