/* MOBILE */

@import '../../variables/variables.scss';

@media (max-width: $mobile-width) {
	.footer__adress {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		text-align: center;
	}
}
