$desctope-width: 1200px;
$tablet-width: 900px;
$mobile-width: 700px;

:root {
	/* FONTS */
	--basci-font: 'worksans', 'Arial', sans-serif;

	/* COLORS */
	--bg: #FFFFFF;
	--radial-bg: radial-gradient(circle, rgb(255 255 255 / 100%) 0%, rgb(203 203 203 / 100%) 100%);
	--text-primary: #141414;
	--text-secondary: #666666;

	/* PADDINGS */
	--standart-side-padding: 20px;
	--standart-top-padding: 80px;

	/* SIZES */
	--nav-list-item-width: 220px;
	--nav-list-banner-size: 150px;
	--nav-list-logo-width: var(--nav-list-item-width);
	--nav-list-logo-height: 60px;
}
