$desctope-width: 1200px;
$tablet-width: 900px;
$mobile-width: 700px;

:root {
	/* FONTS */
	--basci-font: 'worksans', 'Arial', sans-serif;
	/* COLORS */
	--bg: #ffffff;
	--radial-bg: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(203, 203, 203, 1) 100%);
	--text-primary: #141414;
	--text-secondary: #666666;
	/* PADDINGS */
	--standart-side-padding: 20px;
	--standart-top-padding: 80px;
}
